[submodule "addon/wlan/hostap"]
	path = addon/wlan/hostap
	url = https://github.com/mikyjazz/hostap.git
[submodule "addon/lvgl/lvgl"]
	path = addon/lvgl/lvgl
	url = https://github.com/mikyjazz/lvgl.git
